---
jobs:
  setup:
    name: Setup
    runs-on: ubuntu-24.04
    outputs:
      registry-org: ${{ steps.registry-org.outputs.REGISTRY_ORG }}
    permissions:
      contents: read
    steps:
      - name: Select repository organisation
        id: registry-org
        if: inputs.registry-org == 'undefined'
        run: |
          echo "REGISTRY_ORG=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_OUTPUT
  publish:
    name: Image
    runs-on: ubuntu-24.04
    needs: [setup]
    permissions:
      contents: read
      packages: write
    steps:
      # Checkout repository
      # https://github.com/actions/checkout
      - if: ${{ inputs.artifact-name == '' }}
        name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - if: ${{ inputs.artifact-name != '' }}
        name: Download repository artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          merge-multiple: true
          name: ${{ inputs.artifact-name }}
          path: ${{ github.workspace }}
      # Set up QEMU
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up Docker Buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ inputs.registry-url }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ inputs.registry-url }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - id: meta
        name: Extract Docker metadata
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ${{ inputs.registry-url }}/${{ needs.setup.outputs.registry-org }}/${{ inputs.image-name }}
          tags: |
            type=semver,pattern=v{{version}},event=tag
            type=semver,pattern=v{{major}}.{{minor}},event=tag
            type=semver,pattern=v{{major}},event=tag
      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ inputs.dockerfile-path }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ inputs.platforms }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
name: Publish
on:
  workflow_call:
    inputs:
      dockerfile-path:
        default: ${{ github.workspace }}
        description: "Path to your repository's Dockerfile"
        required: false
        type: string
      artifact-name:
        description: "Name of an already-uploaded artifact whose contents will be used instead of running a git checkout (leave empty to use checkout)"
        required: false
        default: ""
        type: string
      image-name:
        description: "The name of the image as published in the registry"
        required: true
        type: string
      platforms:
        default: "linux/amd64"
        description: "A comma-separated list of platforms to build images for (e.g. linux/amd64,linux/arm64)"
        required: false
        type: string
      registry-url:
        default: "ghcr.io"
        description: "The URL of the container registry to publish to (e.g. ghcr.io)"
        required: false
        type: string
      registry-org:
        default: "undefined"
        description: "The organisation on the container registry to publish to (e.g. your GitHub username [must be lower-case])"
        required: false
        type: string
